<div class="post">
  <h2>
    Counter Component
  </h2>
  <h3>
    Counter Service: {{counterServ.counter}}
  </h3>
  <button mat-button class="main-btn" (click)="counterServ.increase()">
    +
  </button>
  <button mat-button class="main-btn" (click)="counterServ.decress()">
    -
  </button>
</div>
<div class="post">
  <h2>
    Counter Component
  </h2>
  <h3>
    Counter Service: {{appCounter.counter}}
  </h3>
  <button mat-button class="main-btn" (click)="appCounter.increase()">
    +
  </button>
  <button mat-button class="main-btn" (click)="appCounter.decress()">
    -
  </button>
</div>
