<h1>
  {{title}}
</h1>

<mat-tab-group>
  <mat-tab label="Basics">
    <app-basics></app-basics>
  </mat-tab>
  <mat-tab label="Components in detail">
    <app-component-in-details></app-component-in-details>
  </mat-tab>
  <mat-tab label="Directives">
    <app-directives></app-directives>
  </mat-tab>
  <mat-tab label="Pipes"> Content 4 </mat-tab>
  <mat-tab label="Services"> Content 5 </mat-tab>
  <mat-tab label="Form and Validations"> Content 6 </mat-tab>
  <mat-tab label="HttpClient"> Content 7 </mat-tab>
  <mat-tab label="Routing"> Content 8 </mat-tab>
  <mat-tab label="Modules"> Content 9 </mat-tab>
  <mat-tab label="Additional features"> Content 10 </mat-tab>
</mat-tab-group>
