<header>
  <h1>
    {{title}}
  </h1>
</header>

<div class="container-page">
  <div class="left-menu">
    <ul>
      <li>
        <a routerLink="/"
           mat-button
           routerLinkActive="active">
          Basics
        </a>
      </li>
      <li>
        <a routerLink="component-in-details"
           mat-button
           routerLinkActive="active">
          Components in detail
        </a>
      </li>
      <li>
        <a routerLink="directives"
           mat-button
           routerLinkActive="active">
          Directives
        </a>
      </li>
      <li>
        <a routerLink="pipes"
           mat-button
           routerLinkActive="active">
          Pipes
        </a>
      </li>
      <li>
        <a routerLink="services"
           mat-button
           routerLinkActive="active">
          Services
        </a>
      </li>
      <li>
        <a routerLink="forms-validations"
           mat-button
           routerLinkActive="active">
          Form and Validations
        </a>
      </li>
      <li>
        <a routerLink="http-client"
           mat-button
           routerLinkActive="active">
          HttpClient
        </a>
      </li>
      <li>
        <a routerLink="routing"
           mat-button
           routerLinkActive="active">
          Routing
        </a>
      </li>
      <li>
        <a routerLink="modules"
           mat-button
           routerLinkActive="active">
          Modules
        </a>
      </li>
      <li>
        <a routerLink="add-features"
           mat-button
           routerLinkActive="active">
          Additional features
        </a>
      </li>
      <li>
        <a routerLink="ts-for-angular"
           mat-button
           routerLinkActive="active">
          TS for Angular
        </a>
      </li>
      <li>
        <a routerLink="basic-rxjs"
           mat-button
           routerLinkActive="active">
          Basic RxJS
        </a>
      </li>
    </ul>
  </div>
  <div class="page-wrap">
    <router-outlet></router-outlet>
  </div>
</div>

