<h1>
  {{title}}
</h1>

<mat-tab-group>
  <mat-tab label="Basics" class="body-container">
    <app-basics></app-basics>
  </mat-tab>
  <mat-tab label="Components in detail" class="body-container">
    <app-component-in-details></app-component-in-details>
  </mat-tab>
  <mat-tab label="Directives" class="body-container">
    <app-directives></app-directives>
  </mat-tab>
  <mat-tab label="Pipes" class="body-container">
    <app-pipes></app-pipes>
  </mat-tab>
  <mat-tab label="Services" class="body-container">
    <app-services></app-services>
  </mat-tab>
  <mat-tab label="Form and Validations" class="body-container">
    <app-forms-validations></app-forms-validations>
  </mat-tab>
  <mat-tab label="HttpClient" class="body-container">
    <app-http-client></app-http-client>
  </mat-tab>
  <mat-tab label="Routing" class="body-container">
    <app-routing></app-routing>
  </mat-tab>
  <mat-tab label="Modules" class="body-container">
    <app-modules></app-modules>
  </mat-tab>
  <mat-tab label="Additional features" class="body-container">
    <app-add-features></app-add-features>
  </mat-tab>
</mat-tab-group>
